/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@font-face {
    font-family: myFont;
    src: url("./assets/fonts/alfont_com_NeoSansArabic.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: myFont;
    background-color:#D8D8E5;
}